body
{
	background-color: #60a8b2;
}

#pac
{
	TOP:15px; 
	margin-left: auto ;
	margin-right: auto ;
	text-align:center; 
	z-index:4
}
	
#main 
{
	z-index:1;
	positiom: absolute;
	width: 900px ;
	margin-left: auto ;
	margin-right: auto ;
	background: #edddbd;
	margin-top: -90px
}

#info 
{
	width: 250px;
	float:right;
	margin-right:5px;
	margin-top:30px;
	background: #211d1c;
	color:#edddbd;
	font-family:verdana;
	padding-top:5px;
	padding-left:5px
	

}

h1
{
	color:#854040;
	font-family:verdana;
}

#content 
{
	color:#211d1c;
	width:600px;
	padding-left:15px;
	font-family:verdana;
	font-size:small;
}

/*LADDER STUFF */

.ladder table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	border-collapse: separate;
	background-color: white;
}
.ladder th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
.ladder td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
	
/* TREE STUFF */

.tree,
.treecontainer,
.treecol,
.treespacer,
.treematchholder,
.treematch,
.treehline,	
.treeupbranchline,
.treedownbranchline,
.treeparticipant {
	border: none;
	margin: 0px;
	padding: 0px;
}

.tree {
	overflow: auto;
}

.treecontainer {
	float: right;
	clear: both;
}

.treematchholder {
	height: 100px;
	width: 100px;
	float: right;
	clear: both;
}

.treeverthax {
	position: relative;
	top: 50%;
}

.treematch {
	cursor: pointer;
	position: relative;
	top: -20px;
	width: 100%;
}

.treematchinfo, .treeparticipant {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	float: right;
	clear: both;
	text-align: center;
	font-size: 8pt;
	font-family: sans-serif;
}

.treematchinfo {
	background-color: #444444;
	color: #FFFFFF;
	border-bottom: 1px solid black;
}

.treeparticipant {
	background-color: #B8B8B8;
}

.treeparticipantname {
	float: left;
}

.treeparticipantscore {
	float: right;
	text-align: right;
}

.treewinner {
	background-color: #C5FFBB;
}

.treeloser {
	background-color: #FFBBBB;
}

.treecol {
	float: right;
}

.treespacer {
	float: right;
	clear: both;
}

.treehline {
	width: 50px;
	border-bottom: 1px dotted black;
	float: right;
	clear: both;
}

.treeupbranchline {
	width: 50px;
	border-top: 1px dotted black;
	border-right: 1px dotted black;
	float: right;
	clear: both;
}

.treedownbranchline {
	width: 50px;
	border-bottom: 1px dotted black;
	border-right: 1px dotted black;
	float: right;
	clear: both;
}

/* END TREE STUFF */